* {
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
    }
  body{
      background-color:rgb(62, 59, 78);
      
  }
  h1{
    background-color:rgb(62, 59, 78);
    padding-left:1%;
    color: white;
  }
  h1{
    border:inset;
    text-shadow: 4px 4px black;
  }
  hr{
   border-top: 5px solid grey
  }
  p{
    text-indent:4vw;
    margin:1.5vw;
  }
  dt{
    font-weight: bolder;
    font-size:large;
  }
  li{
    padding:1%;
  }
  footer{
    background-color: lightgray;
    text-align:center;
    border: 2px solid black;
    margin:auto;
    margin-top:3vh; 
    margin-bottom:3vh; 
    padding:1vh;
    width:40vw;
    font-size:x-small
  }
  footer img{
    width:revert;
    height:revert;
  }
  footer a{
  color:azure
  }

  .icon-bar {
    position:fixed;
    width: 90%; 
    background-color: rgb(130, 130, 130); 
    overflow: auto; 
    left:5vw;
    top:0vw;
    border-radius: 0px  0px 99999px 99999px;
    box-shadow: 10px 5px 5px black;
    border: 0.25vw white solid;
  
  }
  .icon-bar a {
    float: left; 
    text-align: center; 
    width: 18%; 
    transition: all 0.3s ease; 
    color: white; 
    font-size: 3vh;
    height:100%;
  
  }

  
  .icon{
    height:15vh;
   width:auto;
   border:none;
  } 


  .collapsible {
    background-color: rgb(62, 59, 78);
    border-top-right-radius:999999px;
    color: white;
    cursor: pointer;
    text-shadow: 4px 4px black;
    padding: 2vw;
    width: 100%;
    border: inset;
    text-align: left;
    outline: none;
    font-size: 140%;
    font-weight:bold;
    border-bottom: none;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(62, 59, 78);
    color:white;
    text-shadow: 3px 3px black;
    border:inset;
    border-top:none;
  }

.showoff{
  border:outset;
  width:80vw;
  background-color:lightgray;
  margin:auto;
  padding:1vw;
  margin-top:2vh;
}
.showoff img{
    width:70vw;
    float:left;
    width:20vw;
    margin-right:2vw;
    margin-top:3vh;
}
.showon{
  border:outset;
  width:80vw;
  background-color:lightgray;
  margin:auto;
  padding:1vw;
  margin-top:2vh;
}
.showon img{
  width:70vw;
  float:right;
  width:20vw;
  margin-right:2vw;
  margin-top:11vh;
}
.top{
    margin-top:23vh;
}
.largeimg{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.largeimg img{
  height:60vh;
  width:auto;
  border: 5px outset;
}
.biggerimg img{
  margin-top:1vh;
  height:auto;
  width:40vw;
  border: 5px outset;
}
.last img{
  width: 40vw;
  margin-top: 20vh;
  border: 5px outset;
  
}

.cullum2{
  float:right  ;
  width:35%;
  background-color:rgb(62, 59, 78);
  color:white;
  padding:3%;
  padding-top:1%;
  border:inset;
  margin-top:2vh;
  text-shadow: 2px 2px black;
}
.cullum2 p{
  text-indent: 0vw;
}
.yiggext{
  width:40vw;
  margin-top:3vh;
}

.infoioio{

   background-color: lightgray;
  width:80vw;
  margin:auto;
  
  
   border-radius: 99999999px;
   border:outset;
   padding:5%;
   padding-top:0.1%;
   padding-bottom:1%;
}
.infoioio h3{
  margin-top:1%;
  text-align:center;
  font-size:300%;
}
.infoioio p{
  text-align: center;
  text-indent:0vw;
}
.hiddenlink{
  color:black;
  text-decoration: none;
}

