* {
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
    }
  body{
      background-color:rgb(62, 59, 78);
  }
  h1{
    background-color:rgb(62, 59, 78);
    padding-left:1%;
    color: white;
  
  }
  hr{
   border-top: 5px solid grey
  }

  .icon-bar {
    position:fixed;
    width: 90%; 
    background-color: #555; 
    overflow: auto; 
    left:5vw;
    top:0vw;
  }
  .icon-bar a {
    float: left; 
    text-align: center; 
    width: 20%; 
    padding: 12px 0;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 3vh;
  }
  .icon-bar a:hover {
    background-color: #000; 
  }
  
  .active {
    background-color:#555; 
  }
  .icon{
    height:7vw;
   width:9vw;
  }

.showoff{
  width:80vw;
  background-color:lightgray;
  margin:auto;
  padding:1vw;
  margin-top:2vh;
}
.showoff img{
    width:70vw;
    float:left;
    width:20vw;
    margin-right:2vw;
    margin-top:3vh;
    
  
}
.showon{
  width:80vw;
  background-color:lightgray;
  margin:auto;
  padding:1vw;
  margin-top:2vh;

}
.showon img{
  width:70vw;
  float:right;
  width:20vw;
  margin-right:2vw;
  margin-top:11vh;


}
.top{
    margin-top:23vh;

}
.largeimg{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.largeimg img{
  height:60vh;
  width:auto;
}
.biggerimg img{
  margin-top:1vh;
  height:auto;
  width:40vw;
}
.last img{
  width: 40vw;
  margin-top: 20vh;
}
.infoioio{
  width:90vw;
  margin:auto;
  padding: 1%;
  padding-top:0%;
  background-color: lightgray;
}
.infoioio h3{
  text-align:center;
  font-size:300%;
}
