* {
    font-family: 'DotGothic16', sans-serif;
    }
  body{
      background-color:rgb(60, 56, 92);
  }
  h1{
    text-align: center;
  }

  .icon-bar {
    position:fixed;
    /* margin-left:auto; */
    width: 90%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    left:5vw;
    top:0vw;
  }
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 3vh;
  }
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color:#555   ; /* Add an active/current color */
  }
  .icon{
    height:7vw;
   width:9vw;
  }
.showoff{
    width:80vw;
    background-color:orange;
    margin:auto;
    padding:1vw;
}
.showoff img{
    width:70vw;
    /* margin-right: 10%; */
}
.top{
    margin-top:23vh;
}
 