*{
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 2px;
}
body{
    background-color: rgb(19, 19, 77);
}
img{
  width:100%
}
h1{
font-size:250%;
margin:1vw;
}
p{
margin:1vw;
}

a{
  color:white;
  text-decoration: none;
}
a:active{
  color:coral
}
a:hover{
  color:coral
}



  .one{
      position:absolute;
      color:white;
        position: absolute;
        top:31vh;
        left:5vw;
        border-style:solid;
        width:50vw;
      }
  .two{
    position:absolute;
    color:white;
      position: absolute;
      top:140vh;
      right:5vw;
      border-style:solid;
      width:50vw;
  }
  .three{
    position:absolute;
    color:white;
      position: absolute;
      top:250vh;
      left:5vw;
      border-style:solid;
      width:50vw;
      
}
.four{
  position:absolute;
  color:white;
    position: absolute;
    top:380vh;
    right:5vw;
    border-style:solid;
    width:50vw;
}

.icon-bar {
  position:fixed;
  width: 90%; 
  background-color: rgb(130, 130, 130); 
  overflow: auto; 
  left:5vw;
  top:0vw;
  border-radius: 0px  0px 99999px 99999px;
  box-shadow: 10px 5px 5px black;
  border: 0.25vw white solid;

}
.icon-bar a {
  /* margin-top */
  float: left; 
  text-align: center; 
  width: 18%; 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 3vh;
  height:100%;

}
.icon-bar a:hover {
  background-color: #000; 
  height:100%;
}

.icon{
  height:15vh;
 width:auto;
} 


footer{
  background-color: lightgray;
  text-align:center;
  border-radius: 99999px;
  margin:auto;
  margin-top:3vh; 
  margin-bottom:3vh; 
  padding:1vh;
  width:40vw;
  font-size:x-small
}
footer img{
  width:revert;
  height:revert;
}
footer a{
color:azure
}