*{
    font-family: 'DotGothic16', sans-serif;
}
body{
    background-color:rgb(32, 32, 54);
    text-align:center;
    color:ghostwhite;
}
li{
 text-align:left;
 margin-left:45%;
}
h1{
    border:ghostwhite;
    border-style: solid;
    width: 33.33vw;
    margin-left:33.33%;
    font-size:300%;
}
a{
    color:pink;

}
h3{
    font-family: 'Courier New', Courier, monospace;
}
.home{
    margin-top:8vh;
    width:10vw;
    margin-left:2vw;
}
.home img{
    margin-top:8vh;
    width:10vw;
    margin-left:2vw;
}